<!doctype html>
<html>
    <head>
        <title>Markdown Toolkit</title>
        <!-- BOOTSTRAP -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        <!-- MathJax -->
        <script type="text/x-mathjax-config">
            MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
        </script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/md2html.js') }}"></script>
        <!-- <script type="text/javascript" src='{{ url_for("static", filename="js/MathJax.js?config=TeX-MML-AM_CHTML") }}'></script> -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML"></script>
        <!--code highlight-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.6/styles/default.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.6/highlight.min.js"></script>
    </head>

    <body>
        <!--code highlight-->

        <!-- Navbar -->
        <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="#">MarkDown Toolkit</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                    <a class="nav-link" href="javascript:download_md()">Download Markdown</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="javascript:download_html()">Download HTML</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" target="_blank" href="/help">Help</a>
                    </li>
                </ul>
            </div>
        </nav>
        <br />
        <!-- Text area and display -->
        <div class="container-fluid">
            <div class="row">
                <div class="col-6 left" overflow-y="scroll" >
                    <textarea id="md_text" onkeyup="md2html()" class="form-control" rows="25" placeholder="Type your Markdown text here for preview..."></textarea>
                    </textarea>
                    <br>
                    <form>
                        <div class="form-group">
                            <input type="file" class="btn form-control-file" id="uploadmd" accept=".md,.tet">
                        </div>
                    </form>
                </div>
                <div class="col-6 right">
                  <div id="html_format" style="overflow-y: scroll; height:600px;">
                </div>
                </div>

            </div>
        </div>
    </body>


    <script>
        get_local_storage();

        $(document).ready(function(){
            $("#uploadmd").on('change',function(evt){
                //do whatever you want
                if(!window.FileReader) return;

                var reader = new FileReader();

                reader.onload = function(evt) {
                    if(evt.target.readyState != 2) return;
                    if(evt.target.error) {
                        alert('Error while reading file');
                        return;
                    }

                    filecontent = evt.target.result;

                    document.getElementById("md_text").value = document.getElementById("md_text").value + evt.target.result;
                    md2html();
                };

                reader.readAsText(evt.target.files[0]);

            });
        });


    </script>
</html>
